{% extends "../templates/base.j2" %}
{% block title %}Créer un profil{% endblock %}
{% block content %}
    <section class="section">
      <div class="container">
        <h1 class="title">Créer un profil</h1>

        {% if name != ("username" | env) %}
        <article class="message is-warning">
          <div class="message-header">
            <p>Vue administrateur de {{ name }}</p>
            <a class="button is-small" href="/index.sh">
              <span class="icon is-small">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Sortir</span>
            </a>
          </div>
          <div class="message-body">
            <p>Vous êtes en train d'ajouter un profil à un autre utilisateur.</p>
          </div>
        </article>
        {% endif %}

        <div class="columns">
          <div class="column">
            <div class="box">
              <form action="" method="post" onsubmit="return validate_peer()">
                <div class="field" id="nameField">
                  <label class="label">Nom du profil</label>
                  <div class="control">
                    <input class="input" type="text" id="name" name="name" placeholder="laptop, mobile, maison..." value="">
                  </div>
                  <p class="help" id="nameHelp"></p>
                </div>

                <div class="field">
                  <label class="label">Clef publique</label>
                  <div class="control">
                    <input class="input" type="text" id="pubkey" name="pubkey">
                  </div>
                  <p class="help" id="pubkeyHelp"></p>
                </div>

                <div class="field">
                  <div class="control">
                    <button type="submit" class="button is-link">Créer</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="column">
            <article class="message is-info">
              <div class="message-body">
                <p>Cette page vous permet de créer un profil et de télécharger la configuration associée.</p>
                <p>Une fois téléchargé, il est nécessaire de le modifier avec un éditeur de texte pour renseigner la clef privée dans le champ <code>PrivateKey</code>.</p>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <script type="text/javascript">
      const peers = [{% for peer in peers %}{name: "{{ peer.name }}", pubkey: "{{ peer.pubkey }}"},{% endfor %}]
    </script>
    <script type="text/javascript" src="/static/js/peer-validity.js"></script>
{% endblock %}
