Bonjour,

Un nouveau profil {{ profile }} a été ajouté pour l'utilisateur {{ user }}.

{{ "HTTP_X_FORWARDED_PROTO" | env("http") }}://{{ "HTTP_HOST" | env("example.com") }}/index.sh?user={{ user }}

Ce courriel a été envoyé par WGSS.

Bonne journée.
