Bonjour,

Le profil {{ profile }} de l'utilisateur {{ user }} a été supprimé.

{{ "HTTP_X_FORWARDED_PROTO" | env("http") }}://{{ "HTTP_HOST" | env("example.com") }}/index.sh?user={{ user }}

Ce courriel a été envoyé par WGSS.

Bonne journée.
